.DS_Store
WebScraping/marketscraper/marketscraper/logs
WebScraping/marketscraper/logs
notas.txt
__pycache__/
*.pyc
.env
WebScraping/marketscraper/marketscraper/spiders/__pycache__/
Borrador/*
CronJob/venv
WebScraping/venv
Backend/venv
boot_comands.txt
k8s/um-cloud/secrets.yaml
